body{
    background: cornflowerblue;
    
}


.container{
    text-align: center;
    margin-top:23px;

}

table{
    margin: 25px;
    border-radius: 0%;
}

input{
    border-radius: 1px;
    border: 5px solid #244624;
    font-size:30px;
    height: 65px;
    width: 450px;
}

button{
    border-radius: 0px;
    font-size: 30px;
    background: #3a8ff5;
    width: 90px;
    height: 70px;
    margin: 6px;
    text-align: center;
}

.calculator{ 
    border: 2px ;
    background-color: #ff8e8e;
    padding: 23px;
    border-radius: 5px;
    display: inline-block;
    text-align: right;
    
}

.footer {
    text-align: center;
    background-color: #ffffff;
    color: #1500ff;
    padding: 10px 0;
    border: 10px;
}


